#*.iml
#.gradle
#/local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
#.DS_Store
#/build
#/captures
#.externalNativeBuild
#.cxx
#local.properties
/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/captures

# Room Database
/app/build
/app/release
/app/*/generated/
/app/*/build/
/app/outputs/
/app/.externalNativeBuild
/app/.cxx/

# User-specific files
/.idea/*.iml
/.idea/modules/*.iml
/.idea/dictionaries/*.xml
/.idea/vcs/*.xml